@model Post

<form method="post">
	<div class="border p-3 mt-4">
		<h2 class="text-primary">Create Post</h2>
		<hr />
	</div>
	<div class="mb-3 row p-1">
		<label class="p-0">Title</label>
		<input asp-for="Title" class="form-control" />
	</div>
	<div class="mb-3 row p-1">
		<label class="p-0">Excerpt</label>
		<input asp-for="Excerpt" class="form-control" />
	</div>
	<div class="mb-3 row p-1">
		<label class="p-0">Author</label>
		<input asp-for="Author" class="form-control" />
	</div>
	<div class="row ">
		<div class="col-6 col-md-3">
			<button type="submit" class="btn btn-primary form-control">Create</button>
		</div>
		<div class="col-6 col-md-6">
			<a asp-controller="Post" asp-action="Index" class="btn btn-primary form-control">
				Back to List
			</a>
		</div>
	</div>
</form>